* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

nav {
  top: 0;
  position: sticky !important;
  background-color: #e2dcc8 !important;
  opacity: 1 !important;
  z-index: 2;
}
.nav-link:hover {
  color: white !important;
}

.nav-link {
  color: #001219 !important;
}

/* .nav-me {
  z-index: 3;
} */
body {
  background-color: #e2dcc8;
}

.logo {
  height: 60px;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 15px;
  /* opacity: 70%; */
  /* color: #80ced7; */
}

/* .navbar {
  background-color: #28afb0;
} */
h5.greet-hi {
  margin-top: 20vh;
  color: #0f3d3e;
}
h2.passion-text {
  /* opacity: 60%; */
  font-size: 30px;
  color: #0f3d3e;
}
h1.my-name {
  font-size: 30px;
  color: #100f0f;
}

@media screen and (min-width: 821px) {
  h1.my-name {
    font-size: 90px;
  }
  h2.passion-text {
    font-size: 50px;
  }
  p.add-info {
    font-size: 20px;

    /* background-color: #0f3d3e; */
  }
}

@media screen and (min-width: 401px) and (max-width: 820px) {
  h1.my-name {
    font-size: 50px;
  }
  h2.passion-text {
    font-size: 40px;
  }
  p.add-info {
    font-size: 15px;
  }
  div.text-proj {
    padding-top: 0 !important;
  }
}

/* @media screen and (max-width: 400px) {
  h1.my-name h2.passion-text p.add-info {
    text-align: center !important;
  }
} */

.landing {
  min-height: 90vh;
  z-index: 1;
}

.my-statement {
  /* position: relative; */
  /* z-index: 3; */
  top: 20px;
}

/* .my-logo {
  position: relative;
  z-index: 2;
  top: -30px;
  display: inline-flexbox;
  left: 700px;
  height: auto;
  /* opacity: 40%; */
/* } */

/* .my-projects {
  position: relative;
} */

.add-info {
  font-size: 12px;
  border-radius: 50px;
  font-weight: bold;
  color: black;
}

#myproject {
  z-index: 1;
}
.mp-head {
  margin-top: 5vh;
  font-size: 30px;
  font-weight: bold;
}

.visit-button .logo {
  background-color: #f1f1f1;
  border: none;
  border-radius: 20rem;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: black;
  font-weight: bold;
}

.p-desc {
  background-color: #0f3d3e;
  color: white;
  border-radius: 10px;
  /* width: 50vw !important; */
}

iframe {
  width: 100%;
}

.soc-med {
  height: 20px;
}

.footer-me {
  font-size: 10px;
}

/* footer {
  position: sticky !important;
  bottom: 0;
} */
